body
{
	background: forestgreen;
	font-family: "Helvetica";
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

	.login_div1 , .login_div2
	{
		background: lightseagreen;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgba(0, 0, 255, 1);
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

h1
{
	font-family: "Helvetica";
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
	color: white
}
